<div class="dash">
<ul class="nav nav-tabs mt-3 ml-4" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Requests received</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">My instruments</a>
  </li>
</ul>
<div class="tab-content mt-4 mx-5" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% @instruments.each do |instrument| %>
        <div class="notification">
          <%= link_to instrument_path(instrument) do %>
         <% if instrument.photo.file %>
          <%= cl_image_tag instrument.photo, size: "200x200" %>
          <% else %>
          <%= image_tag 'record-player.png',size: "200x200" %>
          <% end %>
          <% end %>
          <div class="notification-content">
      <%= link_to instrument_path(instrument) do %>
            <p><small><%= instrument.name %></small></p>
            <p><%= instrument.description %></p>
          </div>
      <% end %>
          <div>
            <i class="fas fa-check-circle px-2"></i>
            <i class="fas fa-times-circle px-2"></i>
          </div>
          <%= link_to instrument_path(instrument) do %>
          <div class="notification-date pl-2">
            <p>Dates:</p>
            <p><%= instrument.user.bookings[0].start_date %></p>
            <p><%= instrument.user.bookings[0].end_date %></p>
          </div>
          <% end %>
          <p class="pl-2"><%= instrument.user.email %></p>
        </div>
    <% end %>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <% @bookings.each do |booking| %>
    <%= link_to instrument_path(booking.instrument) do %>
        <div class="notification">
          <p><%= booking.status %></p>
          <% if booking.instrument.photo.file %>
          <%= cl_image_tag booking.instrument.photo, size: "200x200" %>
          <% else %>
          <%= image_tag 'record-player.png',size: "200x200" %>
          <% end %>
          <div class="notification-content">
            <p><small><%= booking.instrument.name %></small></p>
            <p><%= booking.instrument.description %></p>
          </div>
          <div class="notification-date">
            <p>Dates:</p>
            <p><%= booking.start_date %></p>
            <p><%= booking.end_date %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="main-container">
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        </div>
      </div>
      <div class="d-flex flex-row-reverse mr-5 mt-2">
      </div>
      <div class="list-cards">
        <% @instruments.each do |instrument| %>

            <%= link_to instrument_path(instrument) do %>
            <div class="card">
            <div class="item-photo">
              <% if instrument.photo.file %>
                <%= cl_image_tag instrument.photo, size: "200x200" %>
              <% else %>
                <%= image_tag 'record-player.png', size: "200x200" %>
              <% end %>
              </div>

              <div class="card-info">
                <div class="card-description">
                  <h3><%= instrument.name %></h3>
                  <p><%= instrument.description %></p>
                </div>
                <div class="card-price">
                  <p><%= instrument.price %> €</p>
                </div>
              </div>
              <div class="edit-delete">
                <div id="edit-instrument">
                    <%= link_to "Edit", edit_instrument_path(instrument) %>
                  </div>
                  <div id="delete-instrument">
                     <%= link_to "Delete", instrument_path(instrument), method: :delete %>
                  </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
              <%= link_to new_instrument_path do %>
          <p class="button-orange" id="fix-width"> List a new instrument</p>
        <% end %>
    </div></div>
</div>
</div>
