<div class="container">
  <h1>My bookings</h1>
  <% @bookings.each do |booking| %>
    <div class="notification">
      <p><%= booking.status %></p>
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' />
      <div class="notification-content">
        <p><small><%= booking.instrument.name %></small></p>
        <p><%= booking.instrument.description %></p>
      </div>
      <div class="notification-date">
        <p>Dates:</p>
        <p><%= booking.start_date %></p>
        <p><%= booking.end_date %></p>
      </div>
    </div>
  <% end %>
</div>
