
<div class="filters">
  <div class="location-search">
    <div class="search-form">
      <form action="/instruments" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="&#x2713;" />
        <input type="text" name="address" id="query" placeholder="City" class="main-search form-control form-input" />
        <input type="submit" name="commit" value="Refresh" id="submit-search" data-disable-with="Search" class="form-control" />
      </form>
    </div>
  </div>
  <div class="item-search">
    <form action="/instruments" accept-charset="UTF-8" method="get" class="">
      <input name="utf8" type="hidden" value="&#x2713;"/>
      <input type="text" name="type" id="query" placeholder="Type of instrument" class="main-search form-control form-input" />
      <input type="hidden" id="query" name="address" value="<%= params[:address] %>" class="form-control">
      <input type="submit" name="commit" value="Filter" id="submit-search" data-disable-with="Search" />
    </form>
  </div>
</div>

<div class="main-container">
  <div class="cards">
    <% @instruments.each do |instrument| %>
      <div class="card">
        <%= link_to instrument_path(instrument) do %>
          <img src="https://images.unsplash.com/photo-1525725296312-37c06d2338ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="guitar picture">
          <div class="card-info">
            <div class="card-description">
              <h3><%= instrument.name %></h3>
              <p><%= instrument.description %></p>
            </div>
            <div class="card-price">
              <p><%= instrument.price %> €</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>
</div>
