<div class="show-container">
  <div class="card-main flex-container">
<div class="item-info">
  <img src="https://images.unsplash.com/photo-1525725296312-37c06d2338ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="guitar picture">
  <div class="card-information">
    <strong> <%= @instrument.category %></strong>
    <p>Model: <strong> <%= @instrument.name %> </strong> </p>
    <p> <%= @instrument.description %> </p>
    <h2 class="card-pricing"> 20$</h2>
  </div>
</div>
      <div class="book-form">
      <%= simple_form_for [@instrument, @booking] do |f| %>
      <p>Checkin</p>
      <%= f.input :start_date %>
      <p>Checkout</p>
      <%= f.input :end_date %>
      <%= f.button :submit, input_html: { class: "form-button" } %>
      <!-- <%= link_to '<div id ="book-button" type="button" class: "btn btn-danger"> Book!</div>'.html_safe, dashboard_show_path %>-->
      <% end%>
  </div>
  </div>

</div>




<!--  -->
