

<div class="show-header">
  <div class="back-to">
    <a class="" href="/instruments"><i class="fas fa-chevron-left"></i> Back to search results</a>
  </div>
    <div class="heading"></div>
      <h2><%= @instrument.name %></h2>
</div>

    <% if @instrument.photo.file  %>
      <div class="show-image" style="background-image: url(<%= cl_image_path(@instrument.photo) %>)">
      </div>
    <% else %>
      <div class="no-photo" style="background-image: url('<%= image_path "record-player.png" %>');"></div>
    <% end %>

<div class="show-container">
  <div class="show-card">
    <div class="show-card-info">
      <h3>Location :</h3>
      <p>This <%= @instrument.category %> is located at <%= @instrument.address %></p>
      <h3>Price :</h3>
      <p>It costs <%= @instrument.price  %>€/day to rent</p>
      <h3>About this instrument :</h3>
      <p><%= @instrument.description %></p>

    </div>
  </div>
<!--   item 2 in grid -->
  <% if @instrument.user == current_user %>
  <div class="user-action-box item2">
    <div class="user-actions">
      <p>You listed this instrument on <%= @instrument.created_at %></p>
      <p>If you would like to modify your listing, click on one of the links below</p>
     <div class="crud-links">
      <%= link_to "Edit",edit_instrument_path(@instrument) %>
       <%= link_to "Delete", instrument_path(@instrument), method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="book-container item2">
    <div class="book-form">
      <%= simple_form_for [@instrument, @booking] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <input type="submit" name="commit" value="Book Now!" class="button-orange" data-disable-with="Book Now!" />
      </div>
  </div>
    <% end%>
  <% end %>
<!--   end of grid -->
</div>

